day0/bin/Debug/netcoreapp2.1/adventofcode.deps.json
day0/bin/Debug/netcoreapp2.1/adventofcode.dll
day0/bin/Debug/netcoreapp2.1/adventofcode.pdb
day0/bin/Debug/netcoreapp2.1/adventofcode.runtimeconfig.dev.json
day0/bin/Debug/netcoreapp2.1/adventofcode.runtimeconfig.json
day0/obj/adventofcode.csproj.nuget.cache
day0/obj/adventofcode.csproj.nuget.dgspec.json
day0/obj/adventofcode.csproj.nuget.g.props
day0/obj/adventofcode.csproj.nuget.g.targets
day0/obj/project.assets.json
day0/obj/Debug/netcoreapp2.1/adventofcode.AssemblyInfo.cs
day0/obj/Debug/netcoreapp2.1/adventofcode.AssemblyInfoInputs.cache
day0/obj/Debug/netcoreapp2.1/adventofcode.assets.cache
day0/obj/Debug/netcoreapp2.1/adventofcode.csproj.FileListAbsolute.txt
day0/obj/Debug/netcoreapp2.1/adventofcode.csprojAssemblyReference.cache
day0/obj/Debug/netcoreapp2.1/adventofcode.dll
day0/obj/Debug/netcoreapp2.1/adventofcode.pdb
